* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary

# 增加办公常用文件的二进制配置
*.xls binary
*.wps binary
*.doc binary

*.docx binary
*.xlsx binary
*.pptx binary

# 工作流文件导出时 有特殊的文件后缀
*.otwf binary

# 图片格式文件
*.bmp binary

# 图片章用的ai模板文件 用 Adobe Illustrator 2023 打开
# Adobe Illustrator 2023 安装教程：
# https://software.3d66.com/list/detail_8438.html
*.ai binary
*.ait binary


